{% if ospfd_router_id %}
router-id {{ ospfd_router_id }}
{% endif %}

{% for password in ospfd_password %}
password{{ loop.index }}="{{ password }}"
auth-md {{ loop.index }} $password{{ loop.index }}
{% endfor %}
auth-type {{ ospfd_auth_type }}
auth-md-keyid {{ ospfd_auth_md_key_id }}

{% for r in ospfd_no_redistribute %}
no redistribute {{ r }}
{% endfor %}
{% for r in ospfd_redistribute %}
redistribute {{ r }}
{% endfor %}
{% for area, interfaces in ospfd_area | dictsort() %}
area {{ area }} {
{% for interface, value in interfaces | dictsort() %}
  interface {{ interface }} { {{ value }} }
{% endfor %}
}

{% endfor %}
